body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgc-text-hero);
  color: var(--primary-text-color);
}
.section__title {
  font-size: 36px;
  line-height: 42px;
  color: var(--zaholovokh2);
  margin-bottom: 50px;
  text-align: center;
}
