:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --bgc-text-hero: #fff;
  --hero-bgc: #2f303a;
  --benefits: #757575;
  --zaholovokh2: #212121;
  --bcg-comand-and-button-filter: #f5f4fa;
  --icon-color: #afb1b8;
  --transition-d: 250ms;
  --transition-t: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bgc-text-hero);
  color: var(--primary-text-color);
}
.main-nav__labe {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
  margin-right: 93px;
}
.logo-fot {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}
.footer-list__link {
  color: var(--bgc-text-hero);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
